.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* Add this to your CSS */

.dragging{
  transform: scale(1.0); 
  transition: transform 0.3s; /* or the duration you prefer */
}
.dragging::-webkit-validation-bubble-text-block{
  transform: scale(1.5); 
  transition: transform 0.3s; /* or the duration you prefer */
}

.dragging-image {
  transform: scale(1);
  /* Add your image-specific transition styles here */
}

/* You can also define hover styles if needed */
